---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.134'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1728307589,
          "jti" : "glJyw4D/ZD6mizXfRm+LEj0mNsw="
        }
  recorded_at: Mon, 07 Oct 2024 13:26:28 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/attributes
    body:
      encoding: UTF-8
      string: '{"name":"createSku","value":"autogenerateSku","public":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/shop/attributes/createSku
      X-Request-Time:
      - '0.173'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "name" : "createSku",
          "value" : "autogenerateSku",
          "public" : true,
          "readOnly" : false,
          "owner" : "ea9423f8-9969-4b0b-b83c-1f4e1ca13bfd",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/attributes/createSku"
            },
            "owner" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop"
            }
          }
        }
  recorded_at: Mon, 07 Oct 2024 13:26:29 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/attributes/createSku
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.181'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 07 Oct 2024 13:26:29 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/attributes/createSku
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.178'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 07 Oct 2024 13:26:29 GMT
recorded_with: VCR 6.2.0
