---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.082'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"orde:r prat:dcur pypr:cur
        prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur
        shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur
        shpr:rcu cset:ru ordp:r catg:cdur nltg:m","tenantId":8542,"token_type":"bearer","expires_in":899,"iat":1787303767,"jti":"c3f03bde-5a7f-47e0-b0d1-722065e2bb78"}'
  recorded_at: Fri, 21 Aug 2026 09:16:07 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations
    body:
      encoding: UTF-8
      string: '{"languageCode":"en","storeCode":"MLC-St-Ives","companyName":"My little
        Cornershop - MLC-St-Ives","primaryPhone":"(800) 555-0102","address":{"postalCode":"90999","street":"Hudson
        Way","houseNumber":"27","city":"St.Ives","country":"GB","dependentLocality":"","state":"Cornwall"},"googleStatus":"ACTIVE","googlePrimaryCategory":{"categoryId":"gcid:storefood","displayName":"Food"},"googleAdditionalCategories":[{"displayName":"Drinks","categoryId":"gcid:storedrinks"}],"regularHours":{"periods":[{"openDay":"MONDAY","openTime":"08:00","closeDay":"MONDAY","closeTime":"17:00"},{"openDay":"SATURDAY","openTime":"10:00","closeDay":"SATURDAY","closeTime":"16:00"}]},"latLng":{"latitude":53.5847424,"longitude":9.968901}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/shop/locations/39ec9892-93cb-4364-b8b1-5352ef2ac355
      X-Request-Time:
      - '0.058'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "39ec9892-93cb-4364-b8b1-5352ef2ac355",
          "storeCode" : "MLC-St-Ives",
          "languageCode" : "en",
          "address" : {
            "street" : "Hudson Way",
            "houseNumber" : "27",
            "postalCode" : "90999",
            "city" : "St.Ives",
            "country" : "GB",
            "dependentLocality" : "",
            "state" : "Cornwall",
            "displayAddressLines" : [ "27 Hudson Way", "ST.IVES", "90999", "UNITED KINGDOM" ]
          },
          "companyName" : "My little Cornershop - MLC-St-Ives",
          "primaryPhone" : "(800) 555-0102",
          "googleStatus" : "ACTIVE",
          "googlePrimaryCategory" : {
            "displayName" : "Food",
            "categoryId" : "gcid:storefood"
          },
          "googleAdditionalCategories" : [ {
            "displayName" : "Drinks",
            "categoryId" : "gcid:storedrinks"
          } ],
          "latLng" : {
            "latitude" : 53.5847424,
            "longitude" : 9.968901
          },
          "regularHours" : {
            "periods" : [ {
              "openDay" : "MONDAY",
              "openTime" : "08:00",
              "closeDay" : "MONDAY",
              "closeTime" : "17:00"
            }, {
              "openDay" : "SATURDAY",
              "openTime" : "10:00",
              "closeDay" : "SATURDAY",
              "closeTime" : "16:00"
            } ]
          },
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/locations/39ec9892-93cb-4364-b8b1-5352ef2ac355"
            }
          }
        }
  recorded_at: Fri, 21 Aug 2026 09:16:07 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/pickup-options
    body:
      encoding: UTF-8
      string: '{"name":"My little Cornershop - MLC-St-Ives","description":"We will
        send you an email when your items are ready for pickup. Please bring a copy
        of your order confirmation.","taxClass":"REGULAR","phoneNumberRequired":true,"freePickupValue":{"currency":"EUR","amount":50},"fixedPrice":{"taxModel":"GROSS","currency":"EUR","amount":1},"locationId":"39ec9892-93cb-4364-b8b1-5352ef2ac355"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/pickup-options/62bb12ec-e84c-4986-b300-0bfcc488395b
      X-Request-Time:
      - '0.044'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "name" : "My little Cornershop - MLC-St-Ives",
          "description" : "We will send you an email when your items are ready for pickup. Please bring a copy of your order confirmation.",
          "taxClass" : "REGULAR",
          "position" : 17,
          "freePickupValue" : {
            "currency" : "EUR",
            "amount" : 50
          },
          "fixedPrice" : {
            "taxModel" : "GROSS",
            "currency" : "EUR",
            "amount" : 1
          },
          "phoneNumberRequired" : true,
          "_embedded" : {
            "location" : {
              "languageCode" : "en",
              "storeCode" : "MLC-St-Ives",
              "companyName" : "My little Cornershop - MLC-St-Ives",
              "primaryPhone" : "(800) 555-0102",
              "address" : {
                "street" : "Hudson Way",
                "houseNumber" : "27",
                "city" : "St.Ives",
                "country" : "GB",
                "dependentLocality" : "",
                "state" : "Cornwall",
                "postalCode" : "90999",
   [...]
[...]
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/pickup-options?size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.043'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "pickup-options" : [ {
              "name" : "My little Cornershop - MLC-Truro",
              "description" : "We will send you an email when your items are ready for pickup. Please bring a copy of your order confirmation.",
              "taxClass" : "REGULAR",
              "position" : 16,
              "freePickupValue" : {
                "currency" : "EUR",
                "amount" : 50
              },
              "fixedPrice" : {
                "taxModel" : "GROSS",
                "currency" : "EUR"[...]
[...]
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/pickup-options/62bb12ec-e84c-4986-b300-0bfcc488395b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.044'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Aug 2026 09:16:08 GMT
[...]
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations/39ec9892-93cb-4364-b8b1-5352ef2ac355
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.041'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Aug 2026 09:16:09 GMT
[...]
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations/fbe30a08-be5a-428b-9178-ede3c20a2888
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.054'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Aug 2026 09:16:09 GMT
recorded_with: VCR 6.2.0
