---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.068'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"orde:r prat:dcur pypr:cur
        prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur
        shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur
        shpr:rcu cset:ru ordp:r catg:cdur nltg:m","tenantId":8542,"token_type":"bearer","expires_in":899,"iat":1785411891,"jti":"227fb850-adba-40c7-a7f8-2aae32d9fd5c"}'
  recorded_at: Thu, 30 Jul 2026 11:44:51 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/products
    body:
      encoding: UTF-8
      string: '{"name":"Team42 Variation Product","description":"100% cotton, regular
        fit, needs cold washing (max. 30°C).","manufacturer":"Tony Highfinger","tags":["Shirt","Summer","Sale"],"productIdentifiers":[],"visible":true,"taxClass":"REGULAR","salesPrice":{"taxModel":"GROSS","amount":29.99,"currency":"GBP"},"listPrice":{"taxModel":"GROSS","amount":39.99,"currency":"GBP"},"manufacturerPrice":{"taxModel":"GROSS","amount":40.99,"currency":"GBP"},"shippingWeight":{"value":100.0,"displayUnit":"GRAMS"},"shippingDimension":{"length":2000,"width":750,"height":500},"shippingPeriod":{"min":3,"max":5,"displayUnit":"DAYS"},"pickupPeriod":{"min":1,"max":3,"displayUnit":"DAYS"},"variationAttributes":[{"displayName":"size","values":["S","M"]},{"displayName":"color","values":["Black","White"]}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab
      X-Request-Time:
      - '0.346'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "42718930-04d1-485a-9389-67063f5d5bab",
          "lastModifiedAt" : "2026-07-30T11:44:51.461640028",
          "sku" : null,
          "salesPrice" : {
            "taxModel" : "NET",
            "currency" : "GBP",
            "amount" : 24.99167,
            "derivedPrice" : {
              "taxModel" : "GROSS",
              "currency" : "GBP",
              "amount" : 29.99,
              "taxRate" : 0.2
            }
          },
          "listPrice" : {
            "taxModel" : "NET",
            "currency" : "GBP",
            "amount" : 33.325,
            "derivedPrice" : {
              "taxModel" : "GROSS",
              "currency" : "GBP",
              "amount" : 39.99,
              "taxRate" : 0.2
            }
          },
          "manufacturerPrice" : {
            "taxModel" : "NET",
            "currency" : "GBP",
            "amount" : 34.15833,
            "derivedPrice" : {
              "taxModel" : "GROSS",
              "currency" : "GBP",
              "amount" : 40.99,
              "taxRate" : 0.2
            }
          },
          "tags" : [ "Sale", "Shirt", "Summer" ],
          "productIdentifiers" : [ ],
          "visible" : true,
          "taxClass" : "REGULAR",
          "shippingWeight" : {
            "value" : 100.0,
            "displayUnit" : "GRAMS"
          },
          "maxOrderQuantity" : null,
          "shippingDimension" : {
            "length" : 2000,
            "width" : 750,
            "height" : 500
          },
          "refPrice" : null,
          "shippingPeriod" : {
            "min" : 3,
            "max" : 5,
            "displayUnit" : "DAYS"
          },
          "pickupPeriod" : {
            "min" : 1,
            "max" : 3,
            "displayUnit" : "DAYS"
          },
          "name" : "Team42 Variation Product",
          "description" : "100% cotton, regular fit, needs cold washing (max. 30°C).",
          "manufacturer" : "Tony Highfinger",
          "essentialFeatures" : null,
          "variationAttributes" : [ {
            "_id" : "de69d752-c810-47ad-b557-ade7127aed4a",
            "displayName" : "size",
            "values" : [ "S", "M" ],
            "variationImagesDifferentiator" : false
          }, {
            "_id" : "ac3acfdd-b769-4197-b842-ac7a27ba91ef",
            "displayName" : "color",
            "values" : [ "Black", "White" ],
            "variationImagesDifferentiator" : false
          } ],
          "customText" : null,
          "productLabels" : [ ],
          "isVariationProduct" : true,
          "_embedded" : {
            "availability" : {
              "availabilityState" : "NOT_AVAILABLE",
              "availableStock" : null,
              "stockThreshold" : null,
              "purchasable" : false,
              "_links" : {
                "self" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/availability"
                }
              }
            }
          },
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab"
            },
            "availability" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/availability"
            },
            "attributes" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/attributes"
            },
            "attachments" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/attachments"
            },
            "images" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/images"
            },
            "default-image" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/default-image"
            },
            "videos" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/videos"
            },
            "cross-sells" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/cross-sells"
            },
            "multiple-images" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/multiple-images"
            },
            "external-images" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/external-images"
            },
            "additional-descriptions" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/additional-descriptions"
            },
            "variation-properties" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/variation-properties"
            },
            "variation-attributes" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/variation-attributes"
            },
            "variations" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/variations"
            },
            "variations-images" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab/variations/images"
            }
          }
        }
  recorded_at: Thu, 30 Jul 2026 11:44:51 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.033'
      X-Hello-Human:
      - Come work with us! https://[...]
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/42718930-04d1-485a-9389-67063f5d5bab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.300'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 30 Jul 2026 11:44:52 GMT
recorded_with: VCR 6.2.0
