---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.073'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"orde:r prat:dcur pypr:cur
        prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur
        shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur
        shpr:rcu cset:ru ordp:r catg:cdur nltg:m","tenantId":8542,"token_type":"bearer","expires_in":899,"iat":1787303398,"jti":"4ef3ae2a-ec6d-4105-810d-1eb998f3d6e9"}'
  recorded_at: Fri, 21 Aug 2026 09:09:58 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations
    body:
      encoding: UTF-8
      string: '{"languageCode":"en","storeCode":"MLC-St-Ives","companyName":"My little
        Cornershop - St.Ives","primaryPhone":"(800) 555-0102","address":{"postalCode":"90999","street":"Hudson
        Way","houseNumber":"27","city":"St.Ives","country":"GB","dependentLocality":"","state":"Cornwall"},"googleStatus":"ACTIVE","googlePrimaryCategory":{"categoryId":"gcid:storefood","displayName":"Food"},"googleAdditionalCategories":[{"displayName":"Drinks","categoryId":"gcid:storedrinks"}],"regularHours":{"periods":[{"openDay":"MONDAY","openTime":"08:00","closeDay":"MONDAY","closeTime":"17:00"},{"openDay":"SATURDAY","openTime":"10:00","closeDay":"SATURDAY","closeTime":"16:00"}]},"latLng":{"latitude":53.5847424,"longitude":9.968901}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/shop/locations/d2989d99-4c7a-466b-b648-f8e638f0c51e
      X-Request-Time:
      - '0.046'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "d2989d99-4c7a-466b-b648-f8e638f0c51e",
          "storeCode" : "MLC-St-Ives",
          "languageCode" : "en",
          "address" : {
            "street" : "Hudson Way",
            "houseNumber" : "27",
            "postalCode" : "90999",
            "city" : "St.Ives",
            "country" : "GB",
            "dependentLocality" : "",
            "state" : "Cornwall",
            "displayAddressLines" : [ "27 Hudson Way", "ST.IVES", "90999", "UNITED KINGDOM" ]
          },
          "companyName" : "My little Cornershop - St.Ives",
          "primaryPhone" : "(800) 555-0102",
          "googleStatus" : "ACTIVE",
          "googlePrimaryCategory" : {
            "displayName" : "Food",
            "categoryId" : "gcid:storefood"
          },
          "googleAdditionalCategories" : [ {
            "displayName" : "Drinks",
            "categoryId" : "gcid:storedrinks"
          } ],
          "latLng" : {
            "latitude" : 53.5847424,
            "longitude" : 9.968901
          },
          "regularHours" : {
            "periods" : [ {
              "openDay" : "MONDAY",
              "openTime" : "08:00",
              "closeDay" : "MONDAY",
              "closeTime" : "17:00"
            }, {
              "openDay" : "SATURDAY",
              "openTime" : "10:00",
              "closeDay" : "SATURDAY",
              "closeTime" : "16:00"
            } ]
          },
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/locations/d2989d99-4c7a-466b-b648-f8e638f0c51e"
            }
          }
        }
  recorded_at: Fri, 21 Aug 2026 09:09:58 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations/d2989d99-4c7a-466b-b648-f8e638f0c51e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.045'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Aug 2026 09:09:58 GMT
recorded_with: VCR 6.2.0
