---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.093'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1728637055,
          "jti" : "PKkxY2Rg0G39s9Zi7bheFh6myiE="
        }
  recorded_at: Fri, 11 Oct 2024 08:57:35 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/images/search/find-by-label?label=logo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.015'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "images" : [ {
              "_id" : "0fde5629-ba76-412d-898c-f127b733958b",
              "label" : "logo",
              "width" : 400,
              "height" : 400,
              "_links" : {
                "self" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/images/0fde5629-ba76-412d-898c-f127b733958b"
                },
                "image" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/images/0fde5629-ba76-412d-898c-f127b733958b"
                },
                "data" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/core-storage/images/new-image.png?hash=54386a565cf2d7f563e8dec800be24434918438d{&width,height,upscale}",
                  "templated" : true
                }
              }
            } ]
          },
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/images/search/find-by-label?label=logo&page=0&size=20"
            }
          },
          "page" : {
            "size" : 20,
            "totalElements" : 1,
            "totalPages" : 1,
            "number" : 0
          }
        }
  recorded_at: Fri, 11 Oct 2024 08:57:35 GMT
recorded_with: VCR 6.2.0
