---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.071'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"orde:r prat:dcur pypr:cur
        prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur
        shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur
        shpr:rcu cset:ru ordp:r catg:cdur nltg:m","tenantId":8542,"token_type":"bearer","expires_in":899,"iat":1785411722,"jti":"4339b276-0d13-4897-b8c5-7fc450a62ec2"}'
  recorded_at: Thu, 30 Jul 2026 11:42:02 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/search
    body:
      encoding: UTF-8
      string: '{"search":{"term":"Team42"},"paging":{"page":0,"pageSize":5}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.022'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "errorId" : "input-validation-failed",
          "details" : {
            "validationErrors" : [ {
              "entity" : "productSearchRequest",
              "property" : "search.category",
              "invalidValue" : null,
              "message" : "must not be null",
              "constraintName" : "NotNull"
            } ]
          },
          "message" : "Input validation failed",
          "traceId" : null
        }
  recorded_at: Thu, 30 Jul 2026 11:42:02 GMT
recorded_with: VCR 6.2.0
