---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.060'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"orde:r prat:dcur pypr:cur
        prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur
        shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur
        shpr:rcu cset:ru ordp:r catg:cdur nltg:m","tenantId":8542,"token_type":"bearer","expires_in":899,"iat":1785411721,"jti":"f75338a8-201a-4104-b094-b86a7de95f29"}'
  recorded_at: Thu, 30 Jul 2026 11:42:01 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/search
    body:
      encoding: UTF-8
      string: '{"search":{"term":"Team42","category":"NAME"},"paging":{"page":0,"pageSize":5}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.055'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "products" : [ {
              "_id" : "4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc",
              "lastModifiedAt" : "2024-08-23T06:24:40.297",
              "sku" : "1000",
              "salesPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 7.25,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 8.7,
                  "taxRate" : 0.2
                }
              },
              "listPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 9.125,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 10.95,
                  "taxRate" : 0.2
                }
              },
              "manufacturerPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 9.95833,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 11.95,
                  "taxRate" : 0.2
                }
              },
              "tags" : [ "Sale", "Bestseller", "Red Wine" ],
              "productIdentifiers" : [ {
                "type" : "EAN",
                "value" : "9780134308135"
              } ],
              "visible" : true,
              "taxClass" : "REGULAR",
              "shippingWeight" : {
                "value" : 1175.0,
                "displayUnit" : "GRAMS"
              },
              "maxOrderQuantity" : 6,
              "shippingDimension" : {
                "length" : 1500,
                "width" : 1000,
                "height" : 2000
              },
              "refPrice" : {
                "refQuantity" : 1,
                "unit" : "LITER",
                "quantity" : 0.75,
                "price" : {
                  "taxModel" : "NET",
                  "currency" : "GBP",
                  "amount" : 9.66667,
                  "derivedPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "GBP",
                    "amount" : 11.6,
                    "taxRate" : 0.2
                  }
                }
              },
              "shippingPeriod" : {
                "min" : 2,
                "max" : 4,
                "displayUnit" : "WEEKS"
              },
              "pickupPeriod" : {
                "min" : 1,
                "max" : 2,
                "displayUnit" : "WEEKS"
              },
              "name" : "Team42 Product",
              "description" : "Spain\nRioja Tempranillo",
              "manufacturer" : "Grape Vineyard",
              "essentialFeatures" : "Dry. 12% alcohol. Best vine variety.",
              "variationAttributes" : [ ],
              "customText" : null,
              "productLabels" : [ {
                "type" : "NEW",
                "activeFrom" : "2024-08-13T11:31:30.211",
                "activeUntil" : "2024-09-10T11:31:30.211"
              } ],
              "isVariationProduct" : false,
              "_embedded" : {
                "availability" : {
                  "availabilityState" : "IN_STOCK",
                  "availableStock" : null,
                  "stockThreshold" : null,
                  "purchasable" : true,
                  "_links" : {
                    "self" : {
                      "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/availability"
                    }
                  }
                }
              },
              "_links" : {
                "self" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc"
                },
                "availability" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/availability"
                },
                "attributes" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/attributes"
                },
                "attachments" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/attachments"
                },
                "images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/images"
                },
                "default-image" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/default-image"
                },
                "videos" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/videos"
                },
                "cross-sells" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/cross-sells"
                },
                "multiple-images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/multiple-images"
                },
                "external-images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/external-images"
                },
                "additional-descriptions" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/additional-descriptions"
                },
                "default-image-data" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/core-storage/images/new-image.png?hash=54386a565cf2d7f563e8dec800be24434918438d{&width,height,upscale}",
                  "templated" : true
                }
              }
            }, {
              "_id" : "c048b1e1-4a3d-412c-bb2e-b3edd7dbc662",
              "lastModifiedAt" : "2026-07-30T08:41:23.335",
              "sku" : "1206",
              "salesPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 7.25,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 8.7,
        [...]
