---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.119'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1728307585,
          "jti" : "S2OvWnGiX3IS8Vy8xozQLNpT0Vw="
        }
  recorded_at: Mon, 07 Oct 2024 13:26:25 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.207'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "attributes" : [ {
              "name" : "ecommerce:disabled",
              "value" : "true",
              "public" : true,
              "readOnly" : true,
              "owner" : "cockpit",
              "_links" : {
                "self" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/attributes/ecommerce:disabled"
                },
                "owner" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop"
                }
              }
            } ]
          },
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/attributes?page=0&size=20"
            }
          },
          "page" : {
            "size" : 20,
            "totalElements" : 1,
            "totalPages" : 1,
            "number" : 0
          }
        }
  recorded_at: Mon, 07 Oct 2024 13:26:25 GMT
recorded_with: VCR 6.2.0
