---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '4.033'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"orde:r prat:dcur pypr:cur
        prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur
        shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur
        shpr:rcu cset:ru ordp:r catg:cdur nltg:m","tenantId":8542,"token_type":"bearer","expires_in":899,"iat":1785411753,"jti":"490e6e4d-1f65-4f5a-95c3-aaf89c8eb1d9"}'
  recorded_at: Thu, 30 Jul 2026 11:42:34 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/products
    body:
      encoding: UTF-8
      string: '{"name":"Team42 Variation Product","description":"100% cotton, regular
        fit, needs cold washing (max. 30°C).","manufacturer":"Tony Highfinger","tags":["Shirt","Summer","Sale"],"productIdentifiers":[],"visible":true,"taxClass":"REGULAR","salesPrice":{"taxModel":"GROSS","amount":29.99,"currency":"GBP"},"listPrice":{"taxModel":"GROSS","amount":39.99,"currency":"GBP"},"manufacturerPrice":{"taxModel":"GROSS","amount":40.99,"currency":"GBP"},"shippingWeight":{"value":100.0,"displayUnit":"GRAMS"},"shippingDimension":{"length":2000,"width":750,"height":500},"shippingPeriod":{"min":3,"max":5,"displayUnit":"DAYS"},"pickupPeriod":{"min":1,"max":3,"displayUnit":"DAYS"},"variationAttributes":[{"displayName":"size","values":["S","M"]}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5
      X-Request-Time:
      - '0.181'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "ec136add-382e-46a5-b11e-082ecdd324a5",
          "lastModifiedAt" : "2026-07-30T11:42:35.217915914",
          "sku" : null,
          "salesPrice" : {
            "taxModel" : "NET",
            "currency" : "GBP",
            "amount" : 24.99167,
            "derivedPrice" : {
              "taxModel" : "GROSS",
              "currency" : "GBP",
              "amount" : 29.99,
              "taxRate" : 0.2
            }
          },
          "listPrice" : {
            "taxModel" : "NET",
            "currency" : "GBP",
            "amount" : 33.325,
            "derivedPrice" : {
              "taxModel" : "GROSS",
              "currency" : "GBP",
              "amount" : 39.99,
              "taxRate" : 0.2
            }
          },
          "manufacturerPrice" : {
            "taxModel" : "NET",
            "currency" : "GBP",
            "amount" : 34.15833,
            "derivedPrice" : {
              "taxModel" : "GROSS",
              "currency" : "GBP",
              "amount" : 40.99,
              "taxRate" : 0.2
            }
          },
          "tags" : [ "Sale", "Shirt", "Summer" ],
          "productIdentifiers" : [ ],
          "visible" : true,
          "taxClass" : "REGULAR",
          "shippingWeight" : {
            "value" : 100.0,
            "displayUnit" : "GRAMS"
          },
          "maxOrderQuantity" : null,
          "shippingDimension" : {
            "length" : 2000,
            "width" : 750,
            "height" : 500
          },
          "refPrice" : null,
          "shippingPeriod" : {
            "min" : 3,
            "max" : 5,
            "displayUnit" : "DAYS"
          },
          "pickupPeriod" : {
            "min" : 1,
            "max" : 3,
            "displayUnit" : "DAYS"
          },
          "name" : "Team42 Variation Product",
          "description" : "100% cotton, regular fit, needs cold washing (max. 30°C).",
          "manufacturer" : "Tony Highfinger",
          "essentialFeatures" : null,
          "variationAttributes" : [ {
            "_id" : "51d19d77-0feb-4702-8b27-d4928eb0d8dc",
            "displayName" : "size",
            "values" : [ "S", "M" ],
            "variationImagesDifferentiator" : false
          } ],
          "customText" : null,
          "productLabels" : [ ],
          "isVariationProduct" : true,
          "_embedded" : {
            "availability" : {
              "availabilityState" : "NOT_AVAILABLE",
              "availableStock" : null,
              "stockThreshold" : null,
              "purchasable" : false,
              "_links" : {
                "self" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/availability"
                }
              }
            }
          },
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5"
            },
            "availability" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/availability"
            },
            "attributes" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/attributes"
            },
            "attachments" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/attachments"
            },
            "images" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/images"
            },
            "default-image" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/default-image"
            },
            "videos" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/videos"
            },
            "cross-sells" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/cross-sells"
            },
            "multiple-images" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/multiple-images"
            },
            "external-images" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/external-images"
            },
            "additional-descriptions" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/additional-descriptions"
            },
            "variation-properties" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/variation-properties"
            },
            "variation-attributes" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/variation-attributes"
            },
            "variations" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/variations"
            },
            "variations-images" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/variations/images"
            }
          }
        }
  recorded_at: Thu, 30 Jul 2026 11:42:35 GMT
- request:
    method: patch
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/variation-properties
    body:
      encoding: UTF-8
      string: '[{"property":"salesPrice","enabled":true}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.042'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "variation-properties" : [ {
              "property" : "sku",
              "enabled" : true
            }, {
              "property" : "salesPrice",
              "enabled" : true
            }, {
              "property" : "listPrice",
              "enabled" : false
            }, {
              "property" : "refPrice",
              "enabled" : false
            }, {
              "property" : "manufacturerPrice",
              "enabled" : false
            }, {
              "property" : "productIdentifiers",
              "enabled" : false
            }, {
              "property" : "defaultImage",
              "enabled" : false
            } ]
          }
        }
  recorded_at: Thu, 30 Jul 2026 11:42:35 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/variations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.040'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "variations" : [ {
              "sku" : "1223",
              "variationAttributeValues" : [ {
                "displayName" : "size",
                "value" : "S"
              } ],
              "salesPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 24.99167,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 29.99,
                  "taxRate" : 0.2
                }
              },
              "listPrice" : {
                "t[...]
- request:
    method: patch
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5/variations/9e5540a0-4bf2-4870-97a0-badd2f5d8196
    body:
      encoding: UTF-8
      string: '{"salesPrice":{"taxModel":"GROSS","amount":24.99,"currency":"GBP"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
     [...]
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/ec136add-382e-46a5-b11e-082ecdd324a5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.120'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 30 Jul 2026 11:42:35 GMT
recorded_with: VCR 6.2.0
