---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.101'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1724052313,
          "jti" : "2ArIrBGdwUsrtgORQ3UHj53FcCk="
        }
  recorded_at: Mon, 19 Aug 2024 07:25:13 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions
    body:
      encoding: UTF-8
      string: '{"callbackUri":"http://example.com/test","eventTypes":["order.created","product.created"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions/a6cbd477-e250-4aaf-85cc-5dc899573a6c
      X-Request-Time:
      - '0.039'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "callbackUri" : "http://example.com/test",
          "eventTypes" : [ "order.created", "product.created" ],
          "active" : true,
          "_id" : "a6cbd477-e250-4aaf-85cc-5dc899573a6c",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions/a6cbd477-e250-4aaf-85cc-5dc899573a6c"
            },
            "deactivate" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions/a6cbd477-e250-4aaf-85cc-5dc899573a6c/deactivate"
            }
          }
        }
  recorded_at: Mon, 19 Aug 2024 07:25:13 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions/a6cbd477-e250-4aaf-85cc-5dc899573a6c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.035'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 19 Aug 2024 07:25:14 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions/a6cbd477-e250-4aaf-85cc-5dc899573a6c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Request-Time:
      - '0.017'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 19 Aug 2024 07:25:14 GMT
recorded_with: VCR 6.2.0
