---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.099'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1728571999,
          "jti" : "2zmmYhwZMMJH2I/DndPH0A8sYKk="
        }
  recorded_at: Thu, 10 Oct 2024 14:53:19 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations
    body:
      encoding: UTF-8
      string: '{"languageCode":"en","storeCode":"MLC-St-Ives","companyName":"My little
        Cornershop - St.Ives","primaryPhone":"(800) 555-0102","address":{"postalCode":"90999","street":"Hudson
        Way","houseNumber":"27","city":"St.Ives","country":"GB","dependentLocality":"","state":"Cornwall"},"googleStatus":"ACTIVE","googlePrimaryCategory":{"categoryId":"gcid:storefood","displayName":"Food"},"googleAdditionalCategories":[{"displayName":"Drinks","categoryId":"gcid:storedrinks"}],"regularHours":{"periods":[{"openDay":"MONDAY","openTime":"08:00","closeDay":"MONDAY","closeTime":"17:00"},{"openDay":"SATURDAY","openTime":"10:00","closeDay":"SATURDAY","closeTime":"16:00"}]},"latLng":{"latitude":53.5847424,"longitude":9.968901}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/shop/locations/952797f5-b36d-4808-9c38-b4fd4e498190
      X-Request-Time:
      - '0.045'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "952797f5-b36d-4808-9c38-b4fd4e498190",
          "storeCode" : "MLC-St-Ives",
          "languageCode" : "en",
          "address" : {
            "street" : "Hudson Way",
            "houseNumber" : "27",
            "postalCode" : "90999",
            "city" : "St.Ives",
            "country" : "GB",
            "dependentLocality" : "",
            "state" : "Cornwall",
            "displayAddressLines" : [ "27 Hudson Way", "ST.IVES", "90999", "UNITED KINGDOM" ]
          },
          "companyName" : "My little Cornershop - St.Ives",
          "primaryPhone" : "(800) 555-0102",
          "googleStatus" : "ACTIVE",
          "googlePrimaryCategory" : {
            "displayName" : "Food",
            "categoryId" : "gcid:storefood"
          },
          "googleAdditionalCategories" : [ {
            "displayName" : "Drinks",
            "categoryId" : "gcid:storedrinks"
          } ],
          "latLng" : {
            "latitude" : 53.5847424,
            "longitude" : 9.968901
          },
          "regularHours" : {
            "periods" : [ {
              "openDay" : "MONDAY",
              "openTime" : "08:00",
              "closeDay" : "MONDAY",
              "closeTime" : "17:00"
            }, {
              "openDay" : "SATURDAY",
              "openTime" : "10:00",
              "closeDay" : "SATURDAY",
              "closeTime" : "16:00"
            } ]
          },
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/locations/952797f5-b36d-4808-9c38-b4fd4e498190"
            }
          }
        }
  recorded_at: Thu, 10 Oct 2024 14:53:19 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations/952797f5-b36d-4808-9c38-b4fd4e498190
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.049'
      X-Hello-Human:
      - Come work with us! ht[...]
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations/952797f5-b36d-4808-9c38-b4fd4e498190
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.049'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Oct 2024 14:53:20 GMT
recorded_with: VCR 6.2.0
