---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.073'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1723701021,
          "jti" : "so7eqPGyCHGcPK7pPPAplw2rfs8="
        }
  recorded_at: Thu, 15 Aug 2024 05:50:21 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/categories
    body:
      encoding: UTF-8
      string: '{"name":"Team42 Category","type":"SMART","defaultSort":"HIGHEST_PRICE_FIRST"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/categories/858904b2-b10e-41ce-8f7b-f45d947541f8
      X-Request-Time:
      - '0.026'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "858904b2-b10e-41ce-8f7b-f45d947541f8",
          "name" : "Team42 Category",
          "type" : "SMART",
          "defaultSort" : "HIGHEST_PRICE_FIRST",
          "filters" : [ ],
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/categories/858904b2-b10e-41ce-8f7b-f45d947541f8"
            },
            "category" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/categories/858904b2-b10e-41ce-8f7b-f45d947541f8"
            }
          }
        }
  recorded_at: Thu, 15 Aug 2024 05:50:21 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/categories/858904b2-b10e-41ce-8f7b-f45d947541f8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.035'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Aug 2024 05:50:21 GMT
recorded_with: VCR 6.2.0
