---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.114'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1729552247,
          "jti" : "BytQ3hljnpKedVkFKGHcR2luzWs="
        }
  recorded_at: Mon, 21 Oct 2024 23:10:47 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags
    body:
      encoding: UTF-8
      string: '{"scriptUrl":"https://example.com/scripts/exampleScript.js"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/script-tags/06a30a58-6a6a-40c8-8e8e-fd0d6d85b7e5
      X-Request-Time:
      - '0.057'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "06a30a58-6a6a-40c8-8e8e-fd0d6d85b7e5",
          "categories" : [ ],
          "scriptUrl" : "https://example.com/scripts/exampleScript.js",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/script-tags/06a30a58-6a6a-40c8-8e8e-fd0d6d85b7e5"
            }
          }
        }
  recorded_at: Mon, 21 Oct 2024 23:10:48 GMT
- request:
    method: put
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags/06a30a58-6a6a-40c8-8e8e-fd0d6d85b7e5
    body:
      encoding: UTF-8
      string: '{"scriptUrl":"https://example.com/scripts/exampleScriptUpdated.js"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.040'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "06a30a58-6a6a-40c8-8e8e-fd0d6d85b7e5",
          "categories" : [ ],
          "scriptUrl" : "https://example.com/scripts/exampleScriptUpdated.js",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/script-tags/06a30a58-6a6a-40c8-8e8e-fd0d6d85b7e5"
            }
          }
        }
  recorded_at: Mon, 21 Oct 2024 23:10:49 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags/06a30a58-6a6a-40c8-8e8e-fd0d6d85b7e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.028'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Oct 2024 23:10:50 GMT
recorded_with: VCR 6.2.0
