---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.078'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1729552269,
          "jti" : "WAmO7n/1uju6aoF/0uoJUGKqhMk="
        }
  recorded_at: Mon, 21 Oct 2024 23:11:09 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags
    body:
      encoding: UTF-8
      string: '{"scriptUrl":"https://example.com/scripts/exampleScript.js"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/script-tags/45ad8616-b7c4-4aeb-bf2a-9ae9124a5aa5
      X-Request-Time:
      - '0.032'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "45ad8616-b7c4-4aeb-bf2a-9ae9124a5aa5",
          "categories" : [ ],
          "scriptUrl" : "https://example.com/scripts/exampleScript.js",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/script-tags/45ad8616-b7c4-4aeb-bf2a-9ae9124a5aa5"
            }
          }
        }
  recorded_at: Mon, 21 Oct 2024 23:11:11 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags/45ad8616-b7c4-4aeb-bf2a-9ae9124a5aa5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.023'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "45ad8616-b7c4-4aeb-bf2a-9ae9124a5aa5",
          "categories" : [ ],
          "scriptUrl" : "https://example.com/scripts/exampleScript.js",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/script-tags/45ad8616-b7c4-4aeb-bf2a-9ae9124a5aa5"
            }
          }
        }
  recorded_at: Mon, 21 Oct 2024 23:11:11 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags/45ad8616-b7c4-4aeb-bf2a-9ae9124a5aa5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.026'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Oct 2024 23:11:13 GMT
recorded_with: VCR 6.2.0
