---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.097'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1724055781,
          "jti" : "C6UJPHY9f5Dc8FU43LVeiN2zoWw="
        }
  recorded_at: Mon, 19 Aug 2024 08:23:01 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags
    body:
      encoding: UTF-8
      string: '{"scriptUrl":"https://example.com/scripts/exampleScript.js"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/script-tags/861516c1-32ce-4dfe-8bb7-f36d30194eed
      X-Request-Time:
      - '0.096'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "861516c1-32ce-4dfe-8bb7-f36d30194eed",
          "categories" : [ ],
          "scriptUrl" : "https://example.com/scripts/exampleScript.js",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/script-tags/861516c1-32ce-4dfe-8bb7-f36d30194eed"
            }
          }
        }
  recorded_at: Mon, 19 Aug 2024 08:23:01 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags/861516c1-32ce-4dfe-8bb7-f36d30194eed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.049'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 19 Aug 2024 08:23:01 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags/861516c1-32ce-4dfe-8bb7-f36d30194eed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.023'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "errorId" : "script-tag.not-found",
          "details" : { },
          "message" : "script-tag with id 861516c1-32ce-4dfe-8bb7-f36d30194eed could not be found",
          "traceId" : "4da97a350edaea722e1135e1570c732d"
        }
  recorded_at: Mon, 19 Aug 2024 08:23:01 GMT
recorded_with: VCR 6.2.0
