---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.081'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1727938729,
          "jti" : "IsJ4kGGsEUTDD7kri+ON7+SLEe8="
        }
  recorded_at: Thu, 03 Oct 2024 06:58:49 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions
    body:
      encoding: UTF-8
      string: '{"callbackUri":"http://example.com/test","eventTypes":["order.created","product.created"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions/6ea2623c-4ef2-40fb-8f05-9683ba8d5e71
      X-Request-Time:
      - '0.043'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "callbackUri" : "http://example.com/test",
          "eventTypes" : [ "product.created", "order.created" ],
          "active" : true,
          "_id" : "6ea2623c-4ef2-40fb-8f05-9683ba8d5e71",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions/6ea2623c-4ef2-40fb-8f05-9683ba8d5e71"
            },
            "deactivate" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions/6ea2623c-4ef2-40fb-8f05-9683ba8d5e71/deactivate"
            }
          }
        }
  recorded_at: Thu, 03 Oct 2024 06:58:49 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions/6ea2623c-4ef2-40fb-8f05-9683ba8d5e71/failures/987e6543-e21b-45d3-b123-654321098765/retry
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Request-Time:
      - '0.019'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 Oct 2024 06:58:49 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/webhook-subscriptions/6ea2623c-4ef2-40fb-8f05-9683ba8d5e71
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.031'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 Oct 2024 06:58:50 GMT
recorded_with: VCR 6.2.0
