---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.103'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1727965449,
          "jti" : "lzxLLtsyXFMbTxn86B/78ZMg7lo="
        }
  recorded_at: Thu, 03 Oct 2024 14:24:09 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/languages
    body:
      encoding: UTF-8
      string: '{"locale":"it-IT"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.008'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "c56b1f74-5bca-4943-98e9-c4646b5e1db8",
          "locale" : "it-IT",
          "deletableAt" : "2024-10-02T09:54:53.177Z",
          "creatableAt" : null,
          "deleted" : false,
          "_links" : {
            "self" : {
              "href" : "https://api-shop.beyondshop.cloud/api/shop/languages/c56b1f74-5bca-4943-98e9-c4646b5e1db8"
            }
          }
        }
  recorded_at: Thu, 03 Oct 2024 14:24:09 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/languages/c56b1f74-5bca-4943-98e9-c4646b5e1db8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.008'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 Oct 2024 14:24:10 GMT
recorded_with: VCR 6.2.0
