---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.053'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"orde:r prat:dcur pypr:cur
        prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur
        shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur
        shpr:rcu cset:ru ordp:r catg:cdur nltg:m","tenantId":8542,"token_type":"bearer","expires_in":899,"iat":1785481173,"jti":"e73d9c13-99a6-4c5d-ba58-73ab4efd7c77"}'
  recorded_at: Fri, 31 Jul 2026 06:59:33 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/products
    body:
      encoding: UTF-8
      string: '{"name":"Team42 Product","description":"Spain\nRioja Tempranillo","manufacturer":"Grape
        Vineyard","essentialFeatures":"Dry. 12% alcohol. Best vine variety.","tags":["Bestseller","Red
        Wine","Sale"],"productIdentifiers":[{"type":"EAN","value":"9780134308135"}],"salesPrice":{"taxModel":"GROSS","amount":8.7,"currency":"GBP"},"listPrice":{"taxModel":"GROSS","amount":10.95,"currency":"GBP"},"manufacturerPrice":{"taxModel":"GROSS","amount":11.95,"currency":"GBP"},"visible":true,"taxClass":"REGULAR","shippingWeight":{"value":1175.0,"displayUnit":"GRAMS"},"maxOrderQuantity":6,"shippingDimension":{"length":1500,"width":1000,"height":2000},"refPrice":{"refQuantity":1,"unit":"LITER","quantity":0.75,"price":{"taxModel":"GROSS","amount":11.6,"currency":"GBP"}},"shippingPeriod":{"min":2,"max":4,"displayUnit":"WEEKS"},"pickupPeriod":{"min":1,"max":2,"displayUnit":"WEEKS"},"productLabels":[{"type":"NEW","activeFrom":"2024-08-13T11:31:30.210787732","activeUntil":"2024-09-10T11:31:30.210787732"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/products/798e95f4-ec52-4f7b-a486-2fe1a1ffd58f
      X-Request-Time:
      - '0.367'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "798e95f4-ec52-4f7b-a486-2fe1a1ffd58f",
          "lastModifiedAt" : "2026-07-31T06:59:33.628791217",
          "sku" : "1288",
          "salesPrice" : {
            "taxModel" : "NET",
            "currency" : "GBP",
            "amount" : 7.25,
            "derivedPrice" : {
              "taxModel" : "GROSS",
              "currency" : "GBP",
              "amount" : 8.7,
              "taxRate" : 0.2
            }
          },
          "listPrice" : {
            "taxModel" : "NET",
            "currency" : "GBP",
            "amount" : 9.125,
            "derivedPrice" : {
              "taxModel" : "GROSS",
              "currency" : "GBP",
              "amount" : 10.95,
              "taxRate" : 0.2
            }
          },
          "manufacturerPrice" : {
            "taxModel" : "NET",
            "currency" : "GBP",
            "amount" : 9.95833,
            "derivedPrice" :[...]
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/products
    body:
      encoding: UTF-8
      string: '{"name":"Team42 Variation Product","description":"100% cotton, regular
        fit, needs cold washing (max. 30°C).","manufacturer":"Tony Highfinger","tags":["Shirt","Summer","Sale"],"productIdentifiers":[],"visible":true,"taxClass":"REGULAR","salesPrice":{"taxModel":"GROSS","amount":29.99,"currency":"GBP"},"listPrice":{"taxModel":"GROSS","amount":39.99,"currency":"GBP"},"manufacturerPrice":{"taxModel":"GROSS","amount":40.99,"currency":"GBP"},"shippingWeight":{"value":100.0,"displayUnit":"GRAMS"},"shippingDimension":{"length":2000,"width":750,"height":500},"shippingPeriod":{"min":3,"max":5,"displayUnit":"DAYS"},"pickupPeriod":{"min":1,"max":3,"displayUnit":"DAYS"},"variationAttributes":[{"displayName":"size","values":["S","M"]}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b
      X-Request-Time:
      - '0.274'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
     [...]
[...]
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.029'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "variations" : [ {
              "sku" : "1289",
              "variationAttributeValues" : [ {
                "displayName" : "size",
                "value" : "S"
              } ],
              "salesPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 24.99167,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 29.99,
                  "taxRate" : 0.2
                }
              },
              "listPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 33.325,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 39.99,
                  "taxRate" : 0.2
                }
              },
              "manufacturerPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 34.15833,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 40.99,
                  "taxRate" : 0.2
                }
              },
              "refPrice" : null,
              "productIdentifiers" : [ ],
              "taxClass" : "REGULAR",
              "_id" : "f10a0694-f305-467e-9948-7abdc0245af8",
              "_embedded" : {
                "availability" : {
                  "availabilityState" : "IN_STOCK",
                  "availableStock" : null,
                  "stockThreshold" : null,
                  "purchasable" : true,
                  "_links" : {
                    "self" : {
                      "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations/f10a0694-f305-467e-9948-7abdc0245af8/availability"
                    }
                  }
                }
              },
              "_links" : {
                "self" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations/f10a0694-f305-467e-9948-7abdc0245af8"
                },
                "product" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b"
                },
                "default-image" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations/f10a0694-f305-467e-9948-7abdc0245af8/default-image"
                },
                "images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations/f10a0694-f305-467e-9948-7abdc0245af8/images"
                },
                "multiple-images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations/f10a0694-f305-467e-9948-7abdc0245af8/multiple-images"
                }
              }
            }, {
              "sku" : "1290",
              "variationAttributeValues" : [ {
                "displayName" : "size",
                "value" : "M"
              } ],
              "salesPrice" : {
                "taxModel" : "NET",
                "currency" [...]
[...]
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/availability/enable-stock-management
    body:
      encoding: UTF-8
      string: '{"initialAvailableStock":100,"stockThreshold":2}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/availability
      X-Request-Time:
      - '0.044'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "availabilityState" : "NOT_AVAILABLE",
          "availableStock" : null,
          "stockThreshold" : null,
          "purchasable" : false,
          "_links" : {
            "product" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b"
            },
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/availability"
            },
            "update-stock-threshold" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/availability/update-stock-threshold"
            },
            "disable-stock-management" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/availability/disable-stock-management"
            }
          }
        }
  recorded_at: Fri, 31 Jul 2026 06:59:34 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations/f10a0694-f305-467e-9948-7abdc0245af8/availability/adjust-available-stock
    body:
      encoding: UTF-8
      string: '{"relativeAmount":-1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations/f10a0694-f305-467e-9948-7abdc0245af8/availability
      X-Request-Time:
      - '0.045'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "availabilityState" : "IN_STOCK",
          "availableStock" : 99,
          "stockThreshold" : 2,
          "purchasable" : true,
          "_links" : {
            "product" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b"
            },
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations/f10a0694-f305-467e-9948-7abdc0245af8/availability"
            },
            "disable-purchasability" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations/f10a0694-f305-467e-9948-7abdc0245af8/availability/disable-purchasability"
            },
            "adjust-available-stock" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b/variations/f10a0694-f305-467e-9948-7abdc0245af8/availability/adjust-available-stock"
            }
          }
        }
  recorded_at: Fri, 31 Jul 2026 06:59:34 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/c38860e9-91af-4455-9b54-83b4ddc7df8b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.381'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 31 Jul 2026 06:59:35 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/products/798e95f4-ec52-4f7b-a486-2fe1a1ffd58f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.323'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 31 Jul 2026 06:59:35 GMT
recorded_with: VCR 6.2.0
