---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.073'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"orde:r prat:dcur pypr:cur
        prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur
        shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur
        shpr:rcu cset:ru ordp:r catg:cdur nltg:m","tenantId":8542,"token_type":"bearer","expires_in":899,"iat":1785411889,"jti":"d71b870b-bf1f-40b0-8440-d1bac7b8e487"}'
  recorded_at: Thu, 30 Jul 2026 11:44:49 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/products?page=0&size=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.098'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "products" : [ {
              "_id" : "99d80d40-3751-4e47-ba15-36ede0269ed7",
              "lastModifiedAt" : "2025-07-25T15:00:51.638",
              "sku" : null,
              "salesPrice" : null,
              "listPrice" : null,
              "manufacturerPrice" : null,
              "tags" : [ ],
              "productIdentifiers" : [ ],
              "visible" : false,
              "taxClass" : "REGULAR",
              "shippingWeight" : null,
              "maxOrderQuantity" : null,
              "shippingDimension" : null,
              "refPrice" : null,
              "shippingPeriod" : null,
              "pickupPeriod" : null,
              "name" : "Variation Product",
              "description" : "",
              "manufacturer" : "",
              "essentialFeatures" : "",
              "variationAttributes" : [ {
                "_id" : "593e817d-baf8-4981-9d0b-f246803c7612",
                "displayName" : "Color",
                "values" : [ "Red", "Yellow" ],
                "variationImagesDifferentiator" : true
              } ],
              "customText" : null,
              "productLabels" : [ ],
              "isVariationProduct" : true,
              "_embedded" : {
                "availability" : {
                  "availabilityState" : "NOT_AVAILABLE",
                  "availableStock" : null,
                  "stockThreshold" : null,
                  "purchasable" : false,
                  "_links" : {
                    "self" : {
                      "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/availability"
                    }
                  }
                }
              },
              "_links" : {
                "self" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7"
                },
                "availability" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/availability"
                },
                "attributes" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/attributes"
                },
                "attachments" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/attachments"
                },
                "images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/images"
                },
                "default-image" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/default-image"
                },
                "videos" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/videos"
                },
                "cross-sells" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/cross-sells"
                },
                "multiple-images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/multiple-images"
                },
                "external-images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/external-images"
                },
                "additional-descriptions" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/additional-descriptions"
                },
                "default-image-data" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/core-storage/images/dv8tstp-image4.png?hash=e156f4bab95509eddb6d1c558d086502221579c0{&width,height,upscale}",
                  "templated" : true
                },
                "variation-properties" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/variation-properties"
                },
                "variation-attributes" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/variation-attributes"
                },
                "variations" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/variations"
                },
                "variations-images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/99d80d40-3751-4e47-ba15-36ede0269ed7/variations/images"
                }
              }
            }, {
              "_id" : "4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc",
              "lastModifiedAt" : "2024-08-23T06:24:40.297",
              "sku" : "1000",
              "salesPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 7.25,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 8.7,
                  "taxRate" : 0.2
                }
              },
              "listPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 9.125,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 10.95,
                  "taxRate" : 0.2
                }
              },
              "manufacturerPrice" : {
                "taxModel" : "NET",
                "currency" : "GBP",
                "amount" : 9.95833,
                "derivedPrice" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 11.95,
                  "taxRate" : 0.2
                }
              },
              "tags" : [ "Sale", "Bestseller", "Red Wine" ],
              "productIdentifiers" : [ {
                "type" : "EAN",
                "value" : "9780134308135"
              } ],
              "visible" : true,
              "taxClass" : "REGULAR",
              "shippingWeight" : {
                "value" : 1175.0,
                "displayUnit" : "GRAMS"
              },
              "maxOrderQuantity" : 6,
              "shippingDimension" : {
                "length" : 1500,
                "width" : 1000,
                "height" : 2000
              },
              "refPrice" : {
                "refQuantity" : 1,
                "unit" : "LITER",
                "quantity" : 0.75,
                "price" : {
                  "taxModel" : "NET",
                  "currency" : "GBP",
                  "amount" : 9.66667,
                  "derivedPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "GBP",
                    "amount" : 11.6,
                    "taxRate" : 0.2
                  }
                }
              },
              "shippingPeriod" : {
                "min" : 2,
                "max" : 4,
                "displayUnit" : "WEEKS"
              },
              "pickupPeriod" : {
                "min" : 1,
                "max" : 2,
                "displayUnit" : "WEEKS"
              },
              "name" : "Team42 Product",
              "description" : "Spain\nRioja Tempranillo",
              "manufacturer" : "Grape Vineyard",
              "essentialFeatures" : "Dry. 12% alcohol. Best vine variety.",
              "variationAttributes" : [ ],
              "customText" : null,
              "productLabels" : [ {
                "type" : "NEW",
                "activeFrom" : "2024-08-13T11:31:30.211",
                "activeUntil" : "2024-09-10T11:31:30.211"
              } ],
              "isVariationProduct" : false,
              "_embedded" : {
                "availability" : {
                  "availabilityState" : "IN_STOCK",
                  "availableStock" : null,
                  "stockThreshold" : null,
                  "purchasable" : true,
                  "_links" : {
                    "self" : {
                      "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-446[...]
