---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.096'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1723701022,
          "jti" : "aGbiZCt009T6WsRpZJKGG9qyE9k="
        }
  recorded_at: Thu, 15 Aug 2024 05:50:22 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/categories
    body:
      encoding: UTF-8
      string: '{"name":"Team42 Category","type":"SMART","defaultSort":"HIGHEST_PRICE_FIRST"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/categories/137ceb34-0cf7-4139-a3bf-a82e70a89d0e
      X-Request-Time:
      - '0.029'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "137ceb34-0cf7-4139-a3bf-a82e70a89d0e",
          "name" : "Team42 Category",
          "type" : "SMART",
          "defaultSort" : "HIGHEST_PRICE_FIRST",
          "filters" : [ ],
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/categories/137ceb34-0cf7-4139-a3bf-a82e70a89d0e"
            },
            "category" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/categories/137ceb34-0cf7-4139-a3bf-a82e70a89d0e"
            }
          }
        }
  recorded_at: Thu, 15 Aug 2024 05:50:22 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/categories/137ceb34-0cf7-4139-a3bf-a82e70a89d0e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.034'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Aug 2024 05:50:22 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/categories/137ceb34-0cf7-4139-a3bf-a82e70a89d0e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.012'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "errorId" : "resource-not-found",
          "details" : { },
          "message" : "No Category found for '137ceb34-0cf7-4139-a3bf-a82e70a89d0e'",
          "traceId" : "a4088d26abaa83a66d8d978aa7725fb8"
        }
  recorded_at: Thu, 15 Aug 2024 05:50:22 GMT
recorded_with: VCR 6.2.0
