---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.114'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1727966149,
          "jti" : "15+/3WWjnbld4XnafwjV6RHfvsU="
        }
  recorded_at: Thu, 03 Oct 2024 14:35:49 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/features/product-management.max-products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline;filename=f.txt
      X-Request-Time:
      - '0.011'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "name" : "product-management.max-products",
          "type" : "COUNTER",
          "details" : {
            "maxValue" : 100,
            "currentValue" : 0
          },
          "_links" : {
            "self" : {
              "href" : "https://api-shop.beyondshop.cloud/api/shop/features/product-management.max-products"
            },
            "owner" : {
              "href" : "https://api-shop.beyondshop.cloud/api/shop"
            },
            "feature-definition" : {
              "href" : "https://api-shop.beyondshop.cloud/api/feature-definitions/product-management.max-products"
            }
          }
        }
  recorded_at: Thu, 03 Oct 2024 14:35:49 GMT
recorded_with: VCR 6.2.0
