---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.091'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1727948539,
          "jti" : "i9X4RgJLGRZpgy21AGIV7W4NzrM="
        }
  recorded_at: Thu, 03 Oct 2024 09:42:19 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.008'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "languages" : [ {
              "_id" : "dd170cd2-8b2d-4a8e-bfdb-16023eeca398",
              "locale" : "it-IT",
              "deletableAt" : "2024-10-02T09:54:49.099Z",
              "creatableAt" : null,
              "deleted" : false,
              "_links" : {
                "self" : {
                  "href" : "https://api-shop.beyondshop.cloud/api/shop/languages/dd170cd2-8b2d-4a8e-bfdb-16023eeca398"
                }
              }
            }, {
              "_id" : "413732f8-44f7-4f4a-9981-20614262c0f1",
              "locale" : "nb-NO",
              "deletableAt" : "2024-10-02T09:54:49.107Z",
              "creatableAt" : null,
              "deleted" : false,
              "_links" : {
                "self" : {
                  "href" : "https://api-shop.beyondshop.cloud/api/shop/languages/413732f8-44f7-4f4a-9981-20614262c0f1"
                }
              }
            } ]
          },
          "_links" : {
            "self" : {
              "href" : "https://api-shop.beyondshop.cloud/api/shop/languages?page=0&size=20&sort=createdAt,asc"
            }
          },
          "page" : {
            "size" : 20,
            "totalElements" : 2,
            "totalPages" : 1,
            "number" : 0
          }
        }
  recorded_at: Thu, 03 Oct 2024 09:42:19 GMT
recorded_with: VCR 6.2.0
