---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.156'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1724049646,
          "jti" : "ToaY1QbhYVnXdKVtbo9/zHGP1pY="
        }
  recorded_at: Mon, 19 Aug 2024 06:40:46 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/products
    body:
      encoding: UTF-8
      string: '{"name":"Team42 Product","description":"Spain\nRioja Tempranillo","manufacturer":"Grape
        Vineyard","essentialFeatures":"Dry. 12% alcohol. Best vine variety.","tags":["Bestseller","Red
        Wine","Sale"],"productIdentifiers":[{"type":"EAN","value":"9780134308135"}],"salesPrice":{"taxModel":"GROSS","amount":8.7,"currency":"GBP"},"listPrice":{"taxModel":"GROSS","amount":10.95,"currency":"GBP"},"manufacturerPrice":{"taxModel":"GROSS","amount":11.95,"currency":"GBP"},"visible":true,"taxClass":"REGULAR","shippingWeight":{"value":1175.0,"displayUnit":"GRAMS"},"maxOrderQuantity":6,"shippingDimension":{"length":1500,"width":1000,"height":2000},"refPrice":{"refQuantity":1,"unit":"LITER","quantity":0.75,"price":{"taxModel":"GROSS","amount":11.6,"currency":"GBP"}},"shippingPeriod":{"min":2,"max":4,"displayUnit":"WEEKS"},"pickupPeriod":{"min":1,"max":2,"displayUnit":"WEEKS"},"productLabels":[{"type":"NEW","activeFrom":"2024-08-13T11:31:30.210787732","activeUntil":"2024-09-10T11:31:30.210787732"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/products/0c3d27de-5b4d-4432-bf7b-caf7ff289d93
      X-Request-Time:
      - '0.145'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "0c3d27de-5b4d-4432-bf7b-caf7ff289d93",
          "lastModifiedAt" : "2024-08-19T06:40:47.012323725",
          "sku" : "1026",
          "salesPrice" : {
            "taxModel" : "GROSS",
            "currency" : "GBP",
            "amount" : 8.7,
            "derivedPrice" : {
              "taxModel" : "NET",
              "currency" : "GBP",
              "amount" : 7.25,
              "taxRate" : 0.2
            }
          },
          "listPrice" : {
            "taxModel" : "GROSS",
            "currency" : "GBP",
            "amount" : 10.95,
            "derivedPrice" : {
              "taxModel" : "NET",
              "currency" : "GBP",
              "amount" : 9.125,
              "taxRate" : 0.2
            }
          },
          "manufacturerPrice" : {
            "taxModel" : "GROSS",
            "currency" : "GBP",
            "amount" : 11.95,
            "derivedPrice" :[...]
