---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.069'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"orde:r prat:dcur pypr:cur
        prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur
        shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur
        shpr:rcu cset:ru ordp:r catg:cdur nltg:m","tenantId":8542,"token_type":"bearer","expires_in":899,"iat":1787303770,"jti":"ce9255f7-d9c8-4a62-b318-10dcdba838a1"}'
  recorded_at: Fri, 21 Aug 2026 09:16:10 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations
    body:
      encoding: UTF-8
      string: '{"languageCode":"en","storeCode":"MLC-St-Ives","companyName":"My little
        Cornershop - MLC-St-Ives","primaryPhone":"(800) 555-0102","address":{"postalCode":"90999","street":"Hudson
        Way","houseNumber":"27","city":"St.Ives","country":"GB","dependentLocality":"","state":"Cornwall"},"googleStatus":"ACTIVE","googlePrimaryCategory":{"categoryId":"gcid:storefood","displayName":"Food"},"googleAdditionalCategories":[{"displayName":"Drinks","categoryId":"gcid:storedrinks"}],"regularHours":{"periods":[{"openDay":"MONDAY","openTime":"08:00","closeDay":"MONDAY","closeTime":"17:00"},{"openDay":"SATURDAY","openTime":"10:00","closeDay":"SATURDAY","closeTime":"16:00"}]},"latLng":{"latitude":53.5847424,"longitude":9.968901}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/shop/locations/65e15c79-43f6-40a1-b820-8f42b7bfc897
      X-Request-Time:
      - '0.068'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "65e15c79-43f6-40a1-b820-8f42b7bfc897",
          "storeCode" : "MLC-St-Ives",
          "languageCode" : "en",
          "address" : {
            "street" : "Hudson Way",
            "houseNumber" : "27",
            "postalCode" : "90999",
            "city" : "St.Ives",
            "country" : "GB",
            "dependentLocality" : "",
            "state" : "Cornwall",
            "displayAddressLines" : [ "27 Hudson Way", "ST.IVES", "90999", "UNITED KINGDOM" ]
          },
          "companyName" : "My little Cornershop - MLC-St-Ives",
          "primaryPhone" : "(800) 555-0102",
          "googleStatus" : "ACTIVE",
          "googlePrimaryCategory" : {
            "displayName" : "Food",
            "categoryId" : "gcid:storefood"
          },
          "googleAdditionalCategories" : [ {
            "displayName" : "Drinks",
            "categoryId" : "gcid:storedrinks"
          } ],
          "latLng" : {
            "latitude" : 53.5847424,
            "longitude" : 9.968901
          },
          "regularHours" : {
            "periods" : [ {
              "openDay" : "MONDAY",
              "openTime" : "08:00",
              "closeDay" : "MONDAY",
              "closeTime" : "17:00"
            }, {
              "openDay" : "SATURDAY",
              "openTime" : "10:00",
              "closeDay" : "SATURDAY",
              "closeTime" : "16:00"
            } ]
          },
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/locations/65e15c79-43f6-40a1-b820-8f42b7bfc897"
            }
          }
        }
  recorded_at: Fri, 21 Aug 2026 09:16:10 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/pickup-options
    body:
      encoding: UTF-8
      string: '{"name":"My little Cornershop - St.Ives","description":"We will send
        you an email when your items are ready for pickup. Please bring a copy of
        your order confirmation.","taxClass":"REGULAR","phoneNumberRequired":true,"freePickupValue":{"currency":"EUR","amount":50},"fixedPrice":{"taxModel":"GROSS","currency":"EUR","amount":1},"locationId":"65e15c79-43f6-40a1-b820-8f42b7bfc897"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/pickup-options/7b61d1ea-6a9d-402e-baf5-40ef45f28e52
      X-Request-Time:
      - '0.059'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "name" : "My little Cornershop - St.Ives",
          "description" : "We will send you an email when your items are ready for pickup. Please bring a copy of your order confirmation.",
          "taxClass" : "REGULAR",
          "position" : 21,
          "freePickupValue" : {
            "currency" : "EUR",
            "amount" : 50
          },
          "fixedPrice" : {
            "taxModel" : "GROSS",
            "currency" : "EUR",
            "amount" : 1
          },
          "phoneNumberRequired" : true,
          "_embedded" : {
            "location" : {
              "languageCode" : "en",
              "storeCode" : "MLC-St-Ives",
              "companyName" : "My little Cornershop - MLC-St-Ives",
              "primaryPhone" : "(800) 555-0102",
              "address" : {
                "street" : "Hudson Way",
                "houseNumber" : "27",
                "city" : "St.Ives",
                "country" : "GB",
                "dependentLocality" : "",
                "state" : "Cornwall",
                "postalCode" : "90999",
   [...]
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/pickup-options
    body:
      encoding: UTF-8
      string: '{"name":null,"description":"We will send you an email when your items
        are ready for pickup. Please bring a copy of your order confirmation.","taxClass":"REGULAR","phoneNumberRequired":true,"freePickupValue":{"currency":"EUR","amount":50},"fixedPrice":{"taxModel":"GROSS","currency":"EUR","amount":1},"locationId":"65e15c79-43f6-40a1-b820-8f42b7bfc897"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.032'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "errorId" : "input-validation-failed",
          "details" : {
            "validationErrors" : [ {
              "entity" : "pickupOptionRequestPayload",
              "property" : "name",
              "invalidValue" : null,
              "message" : "must not be empty",
              "constraintName" : "NotEmpty"
            } ]
          },
          "message" : "Input validation failed",
          "traceId" : null
        }
  recorded_at: Fri, 21 Aug 2026 09:16:10 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/pickup-options/7b61d1ea-6a9d-402e-baf5-40ef45f28e52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.077'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Aug 2026 09:16:10 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations/65e15c79-43f6-40a1-b820-8f42b7bfc897
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.071'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Aug 2026 09:16:11 GMT
recorded_with: VCR 6.2.0
