---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.083'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1727813249,
          "jti" : "+t7QtFvMaev8FhO2At0xifij/rM="
        }
  recorded_at: Tue, 01 Oct 2024 20:07:29 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/carts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/carts/8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6
      X-Request-Time:
      - '0.087'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6",
          "lineItems" : [ ],
          "shippingLineItem" : null,
          "pickupLineItem" : null,
          "paymentLineItem" : {
            "lineItemPrice" : {
              "taxModel" : "GROSS",
              "currency" : "GBP",
              "amount" : 0
            },
            "lineItemTaxes" : [ ],
            "_embedded" : {
              "payment-method" : {
                "_id" : "c5cdf11e-6947-471e-a76a-1534a6ff5809",
                "name" : "Invoice",
                "description" : null,
                "officialName" : "Invoice",
                "officialDescription" : "You issue an invoice. After receipt of the goods, the customer transfers the payment.",
                "defaultPaymentNote" : null,
                "taxClass" : "REGULAR",
                "discountOrFee" : {
                  "type" : "ABSOLUTE",
                  "absoluteValue" : {
                    "taxModel" : "GROSS",
                    "currency" : "GBP",
                    "amount" : 0
                  },
                  "percentageValue" : null
                },
                "position" : 1,
                "minimumOrderValue" : null,
                "activated" : true,
                "activeLogoSet" : null,
                "onlinePayment" : false,
                "workflow" : null,
                "_links" : {
                  "self" : {
                    "href" : "https://team42-beyond-api.beyondshop.cloud/api/payment-methods/c5cdf11e-6947-471e-a76a-1534a6ff5809"
                  },
                  "payment-method" : {
                    "href" : "https://team42-beyond-api.beyondshop.cloud/api/payment-methods/c5cdf11e-6947-471e-a76a-1534a6ff5809"
                  },
                  "deactivate-payment-method" : {
                    "href" : "https://team42-beyond-api.beyondshop.cloud/api/payment-methods/c5cdf11e-6947-471e-a76a-1534a6ff5809/deactivate"
                  }
                }
              }
            }
          },
          "couponLineItem" : null,
          "billingAddress" : null,
          "shippingAddress" : null,
          "subtotal" : {
            "currency" : "GBP",
            "amount" : 0
          },
          "grandTotal" : {
            "currency" : "GBP",
            "amount" : 0
          },
          "netTotal" : {
            "currency" : "GBP",
            "amount" : 0
          },
          "taxTotal" : {
            "currency" : "GBP",
            "amount" : 0
          },
          "taxes" : [ ],
          "taxable" : true,
          "minimumOrderValue" : {
            "currency" : "GBP",
            "amount" : 0
          },
          "mustAcceptTermsAndConditions" : false,
          "mustEnterPhoneNumber" : false,
          "weight" : 0,
          "checkoutState" : {
            "shippingMethodValid" : false,
            "shippingMethodSelectable" : false,
            "pickupOptionValid" : false,
            "paymentMethodValid" : true,
            "paymentMethodSelectable" : true,
            "billingAddressSet" : false,
            "priceValidToOrder" : true,
            "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
            "readyToOrder" : false
          },
          "customerEmail" : null,
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/carts/8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6"
            },
            "line-items" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/carts/8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6/line-items"
            },
            "payment-method-available" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/carts/8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6/payment-methods"
            },
            "payment-method-default" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/carts/8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6/payment-methods/default"
            },
            "payment-method-current" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/carts/8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6/payment-methods/current"
            },
            "billing-address" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/carts/8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6/billing-address"
            },
            "shipping-address" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/carts"
            }
          }
        }
  recorded_at: Tue, 01 Oct 2024 20:07:30 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/carts/8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6/pickup-options
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.039'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "pickup-options" : [ ]
          },
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/carts/8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6/pickup-options"
            }
          }
        }
  recorded_at: Tue, 01 Oct 2024 20:07:30 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/carts/8c1b0d17-005f-41ff-a2e4-d0f71eaba4c6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.042'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Oct 2024 20:07:30 GMT
recorded_with: VCR 6.2.0
