---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.083'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1725608088,
          "jti" : "dYRgDKfN8buk+vVRIqFfoTSk1Zw="
        }
  recorded_at: Fri, 06 Sep 2024 07:34:48 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/customers
    body:
      encoding: UTF-8
      string: '{"email":"chayanne@example.com","customerComment":"A reliable customer","billingAddress":{"company":"ePages
        GmbH","firstName":"Chayanne","lastName":"Team42","street":"Pilatuspool","houseNumber":"2","postalCode":"20999","city":"Alsterwasser","country":"DE","state":"Hamburg","email":"chayanne@example.com","phone":"(800)
        555-0102"},"shippingAddress":{"gender":"FEMALE","company":"Astrid Alster GmbH","firstName":"Astrid","lastName":"Alster","street":"Alsterwasserweg","houseNumber":"2","postalCode":"20999","city":"Alsterwasser","country":"DE","state":"Hamburg","email":"alsterh@example.com","phone":"(800)
        555-0102"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/customers/00abc7e5-f708-4609-9f6c-b92406c2b2f8
      X-Request-Time:
      - '0.081'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "orderSummary" : {
              "total" : 0,
              "openOrders" : 0,
              "grandTotal" : null,
              "average" : null,
              "lastOrderDate" : null,
              "lastOrder" : null
            },
            "recentOrders" : [ ],
            "customerGroups" : [ ]
          },
          "email" : "chayanne@example.com",
          "customerNumber" : "1012",
          "customerOrigin" : "COCKPIT",
          "defaultShippingAddress" : {
            "salutation" : null,
            "gender" : "FEMALE",
            "company" : "Astrid Alster GmbH",
            "title" : null,
            "firstName" : "Astrid",
            "middleName" : null,
            "lastName" : "Alster",
            "street" : "Alsterwasserweg",
            "houseNumber" : "2",
            "street2" : null,
            "addressExtension" : null,
            "postalCode" : "20999",
            "dependentLocality" : null,
            "city" : "Alsterwasser",
            "country" : "DE",
            "state" : "Hamburg",
            "email" : "alsterh@example.com",
            "phone" : "(800) 555-0102",
            "mobile" : null,
            "displayAddressLines" : [ "Astrid Alster GmbH", "Astrid Alster", "Alsterwasserweg 2", "20999 Alsterwasser", "GERMANY" ],
            "doorCode" : null
          },
          "defaultBillingAddress" : {
            "salutation" : null,
            "gender" : null,
            "company" : "ePages GmbH",
            "title" : null,
            "firstName" : "Chayanne",
            "middleName" : null,
            "lastName" : "Team42",
            "street" : "Pilatuspool",
            "houseNumber" : "2",
            "street2" : null,
            "addressExtension" : null,
            "postalCode" : "20999",
            "dependentLocality" : null,
            "city" : "Alsterwasser",
            "country" : "DE",
            "state" : "Hamburg",
            "email" : "chayanne@example.com",
            "phone" : "(800) 555-0102",
            "mobile" : null,
            "displayAddressLines" : [ "ePages GmbH", "Chayanne Team42", "Pilatuspool 2", "20999 Alsterwasser", "GERMANY" ],
            "vatId" : null,
            "taxNumber" : null,
            "birthDate" : null
          },
          "defaultShippingMethodId" : null,
          "defaultPaymentMethodId" : null,
          "defaultPickupOptionId" : null,
          "creationDate" : "2024-09-06T07:34:48.73401719",
          "testCustomer" : false,
          "customerComment" : "A reliable customer",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/customers/00abc7e5-f708-4609-9f6c-b92406c2b2f8"
            },
            "customer" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/customers/00abc7e5-f708-4609-9f6c-b92406c2b2f8"
            },
            "events" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/customers/00abc7e5-f708-4609-9f6c-b92406c2b2f8/events"
            },
            "customer-groups" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/customers/00abc7e5-f708-4609-9f6c-b92406c2b2f8/customer-groups"
            }
          },
          "_id" : "00abc7e5-f708-4609-9f6c-b92406c2b2f8"
        }
  recorded_at: Fri, 06 Sep 2024 07:34:48 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/customers/00abc7e5-f708-4609-9f6c-b92406c2b2f8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.046'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Sep 2024 07:34:48 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/customers/00abc7e5-f708-4609-9f6c-b92406c2b2f8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Request-Time:
      - '0.013'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Sep 2024 07:34:48 GMT
recorded_with: VCR 6.2.0
