---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.171'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1724052976,
          "jti" : "fP5GZ4flKaRAKWsK77zoPkasf58="
        }
  recorded_at: Mon, 19 Aug 2024 07:36:16 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.026'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "5227687a-aa6b-487c-9c2b-afccf1573cea",
          "name" : "Team42 Beyond API",
          "resellerName" : "epages",
          "primaryHostname" : "team42-beyond-api.beyondshop.cloud",
          "fallbackHostname" : "team42-beyond-api.beyondshop.cloud",
          "tax" : {
            "taxModel" : "GROSS",
            "vatExempted" : false,
            "country" : "GB",
            "supportedTaxClasses" : [ "EXEMPT", "REDUCED", "REGULAR" ]
          },
          "currencies" : [ "GBP" ],
          "defaultCurrency" : "GBP",
          "locales" : [ "en-GB" ],
          "defaultLocale" : "en-GB",
          "closedByMerchant" : true,
          "emailConfirmed" : true,
          "socialSharingEnabled" : true,
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop"
            },
            "shop" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop"
            },
            "address" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/address"
            },
            "images" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/images"
            },
            "legal" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/legal"
            },
            "attributes" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/attributes"
            }
          }
        }
  recorded_at: Mon, 19 Aug 2024 07:36:16 GMT
recorded_with: VCR 6.2.0
