---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.067'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","scope":"orde:r prat:dcur pypr:cur
        prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur
        shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur
        shpr:rcu cset:ru ordp:r catg:cdur nltg:m","tenantId":8542,"token_type":"bearer","expires_in":899,"iat":1787303396,"jti":"b725757d-0799-4d0c-9850-e8c671fb5f6e"}'
  recorded_at: Fri, 21 Aug 2026 09:09:56 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations
    body:
      encoding: UTF-8
      string: '{"languageCode":"en","storeCode":"MLC-St-Ives","companyName":"My little
        Cornershop - MLC-St-Ives","primaryPhone":"(800) 555-0102","address":{"postalCode":"90999","street":"Hudson
        Way","houseNumber":"27","city":"St.Ives","country":"GB","dependentLocality":"","state":"Cornwall"},"googleStatus":"ACTIVE","googlePrimaryCategory":{"categoryId":"gcid:storefood","displayName":"Food"},"googleAdditionalCategories":[{"displayName":"Drinks","categoryId":"gcid:storedrinks"}],"regularHours":{"periods":[{"openDay":"MONDAY","openTime":"08:00","closeDay":"MONDAY","closeTime":"17:00"},{"openDay":"SATURDAY","openTime":"10:00","closeDay":"SATURDAY","closeTime":"16:00"}]},"latLng":{"latitude":53.5847424,"longitude":9.968901}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/shop/locations/31e8a94c-9a10-4b71-bd45-16dcb65be225
      X-Request-Time:
      - '0.076'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "31e8a94c-9a10-4b71-bd45-16dcb65be225",
          "storeCode" : "MLC-St-Ives",
          "languageCode" : "en",
          "address" : {
            "street" : "Hudson Way",
            "houseNumber" : "27",
            "postalCode" : "90999",
            "city" : "St.Ives",
            "country" : "GB",
            "dependentLocality" : "",
            "state" : "Cornwall",
            "displayAddressLines" : [ "27 Hudson Way", "ST.IVES", "90999", "UNITED KINGDOM" ]
          },
          "companyName" : "My little Cornershop - MLC-St-Ives",
          "primaryPhone" : "(800) 555-0102",
          "googleStatus" : "ACTIVE",
          "googlePrimaryCategory" : {
            "displayName" : "Food",
            "categoryId" : "gcid:storefood"
          },
          "googleAdditionalCategories" : [ {
            "displayName" : "Drinks",
            "categoryId" : "gcid:storedrinks"
          } ],
          "latLng" : {
            "latitude" : 53.5847424,
            "longitude" : 9.968901
          },
          "regularHours" : {
            "periods" : [ {
              "openDay" : "MONDAY",
              "openTime" : "08:00",
              "closeDay" : "MONDAY",
              "closeTime" : "17:00"
            }, {
              "openDay" : "SATURDAY",
              "openTime" : "10:00",
              "closeDay" : "SATURDAY",
              "closeTime" : "16:00"
            } ]
          },
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/locations/31e8a94c-9a10-4b71-bd45-16dcb65be225"
            }
          }
        }
  recorded_at: Fri, 21 Aug 2026 09:09:56 GMT
[...]
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations?page=0&paginated=false&size=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.029'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "locations" : [ {
              "_id" : "31e8a94c-9a10-4b71-bd45-16dcb65be225",
              "storeCode" : "MLC-St-Ives",
              "languageCode" : "en",
              "address" : {
                "street" : "Hudson Way",
                "houseNumber" : "27",
                "postalCode" : "90999",
                "city" : "St.Ives",
                "country" : "GB",
                "dependentLocality" : "",
                "state" : "Cornwall",
                "displayAddressLines" : [ "27 Hudson Way[...]
[...]
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations/31e8a94c-9a10-4b71-bd45-16dcb65be225
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.047'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Aug 2026 09:09:57 GMT
[...]
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/locations/a2ded05d-ca52-4e15-b5e1-32e6c1fe152f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.047'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Aug 2026 09:09:57 GMT
recorded_with: VCR 6.2.0
