---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.098'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1724048023,
          "jti" : "wbmjEm3sklF053GJQPRcuTGUOeM="
        }
  recorded_at: Mon, 19 Aug 2024 06:13:42 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.059'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "products" : [ {
              "_id" : "4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc",
              "lastModifiedAt" : "2024-08-18T21:43:42.669",
              "sku" : "1000",
              "salesPrice" : {
                "taxModel" : "GROSS",
                "currency" : "GBP",
                "amount" : 8.7,
                "derivedPrice" : {
                  "taxModel" : "NET",
                  "currency" : "GBP",
                  "amount" : 7.25,
                  "taxRate" : 0.2
                }
              },
              "listPrice" : {
                "taxModel" : "GROSS",
                "currency" : "GBP",
                "amount" : 10.95,
                "derivedPrice" : {
                  "taxModel" : "NET",
                  "currency" : "GBP",
                  "amount" : 9.125,
                  "taxRate" : 0.2
                }
              },
              "manufacturerPrice" : {
                "taxModel" : "GROSS",
                "currency" : "GBP",
                "amount" : 11.95,
                "derivedPrice" : {
                  "taxModel" : "NET",
                  "currency" : "GBP",
                  "amount" : 9.95833,
                  "taxRate" : 0.2
                }
              },
              "tags" : [ "Sale", "Bestseller", "Red Wine" ],
              "productIdentifiers" : [ {
                "type" : "EAN",
                "value" : "9780134308135"
              } ],
              "visible" : true,
              "taxClass" : "REGULAR",
              "shippingWeight" : {
                "value" : 1175.0,
                "displayUnit" : "GRAMS"
              },
              "maxOrderQuantity" : 6,
              "shippingDimension" : {
                "length" : 1500,
                "width" : 1000,
                "height" : 2000
              },
              "refPrice" : {
                "refQuantity" : 1,
                "unit" : "LITER",
                "quantity" : 0.75,
                "price" : {
                  "taxModel" : "GROSS",
                  "currency" : "GBP",
                  "amount" : 11.6,
                  "derivedPrice" : {
                    "taxModel" : "NET",
                    "currency" : "GBP",
                    "amount" : 9.6667,
                    "taxRate" : 0.2
                  }
                }
              },
              "shippingPeriod" : {
                "min" : 2,
                "max" : 4,
                "displayUnit" : "WEEKS"
              },
              "pickupPeriod" : {
                "min" : 1,
                "max" : 2,
                "displayUnit" : "WEEKS"
              },
              "name" : "Team42 Product",
              "description" : "Spain\nRioja Tempranillo",
              "manufacturer" : "Grape Vineyard",
              "essentialFeatures" : "Dry. 12% alcohol. Best vine variety.",
              "variationAttributes" : [ ],
              "customText" : null,
              "productLabels" : [ {
                "type" : "NEW",
                "activeFrom" : "2024-08-13T11:31:30.211",
                "activeUntil" : "2024-09-10T11:31:30.211"
              } ],
              "isVariationProduct" : false,
              "_embedded" : {
                "availability" : {
                  "availabilityState" : "IN_STOCK",
                  "availableStock" : null,
                  "stockThreshold" : null,
                  "purchasable" : true,
                  "_links" : {
                    "self" : {
                      "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/availability"
                    }
                  }
                }
              },
              "_links" : {
                "self" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc"
                },
                "availability" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/availability"
                },
                "attributes" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/attributes"
                },
                "attachments" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/attachments"
                },
                "images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/images"
                },
                "default-image" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/default-image"
                },
                "videos" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/videos"
                },
                "cross-sells" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/cross-sells"
                },
                "multiple-images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/multiple-images"
                },
                "external-images" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/external-images"
                },
                "additional-descriptions" : {
                  "href" : "https://team42-beyond-api.beyondshop.cloud/api/products/4bf6d53d-dfb2-4468-b6f9-f6e6265bc0bc/additional-descriptions"
                }
              }
            }, {
              "_id" : "cb3463f8-90b1-4d0b-a071-d577e9686696",
              "lastModifiedAt" : "2024-08-19T05:59:22.945",
              "sku" : "1006",
              "salesPrice" : {
                "taxModel" : "GROSS",
                "currency" : "GBP",
                "amount" : 8.7,
           [...]
