---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.091'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1729552244,
          "jti" : "G3jSQ0RkRKNhE8rkr4fWI3S2zTA="
        }
  recorded_at: Mon, 21 Oct 2024 23:10:44 GMT
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags
    body:
      encoding: UTF-8
      string: '{"scriptUrl":"https://example.com/scripts/exampleScript.js"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://team42-beyond-api.beyondshop.cloud/api/script-tags/9f9cc6b0-44af-4c09-a935-cefe87b93548
      X-Request-Time:
      - '0.033'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "_id" : "9f9cc6b0-44af-4c09-a935-cefe87b93548",
          "categories" : [ ],
          "scriptUrl" : "https://example.com/scripts/exampleScript.js",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/script-tags/9f9cc6b0-44af-4c09-a935-cefe87b93548"
            }
          }
        }
  recorded_at: Mon, 21 Oct 2024 23:10:45 GMT
- request:
    method: delete
    uri: https://team42-beyond-api.beyondshop.cloud/api/script-tags/9f9cc6b0-44af-4c09-a935-cefe87b93548
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Request-Time:
      - '0.031'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Oct 2024 23:10:46 GMT
recorded_with: VCR 6.2.0
