---
http_interactions:
- request:
    method: post
    uri: https://team42-beyond-api.beyondshop.cloud/api/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Request-Time:
      - '0.089'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "bearer",
          "expires_in" : 3599,
          "scope" : "orde:r prat:dcur pypr:cur prod:urdc lcnt:u pymt:ur loca:urcd sctg:m shat:cdru rfpr:ur prad:rcd shpz:dcur shad:u ordr:cur shop:u shim:cd cust:urcd clpr:cr legl:ur prda:ru rtpr:rc oset:ur shpr:rcu cset:ru ordp:r catg:cdur nltg:m",
          "tenantId" : 8542,
          "iat" : 1724052599,
          "jti" : "+3Bi9GKMlZei8yQdrBRl8otJG9o="
        }
  recorded_at: Mon, 19 Aug 2024 07:29:58 GMT
- request:
    method: get
    uri: https://team42-beyond-api.beyondshop.cloud/api/shop/address
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.139'
      X-Hello-Human:
      - Come work with us! https://developer.epages.com/devjobs/
    body:
      encoding: UTF-8
      string: |-
        {
          "company" : "Team42",
          "firstName" : "Team42",
          "lastName" : "Team42",
          "email" : "k.salazar@epages.com",
          "phone" : "Team42",
          "fax" : null,
          "street" : "Team42",
          "street2" : null,
          "postalCode" : "12345",
          "dependentLocality" : null,
          "city" : "Somewhere",
          "state" : "",
          "country" : "GB",
          "_links" : {
            "self" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/address"
            },
            "address" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop/address"
            },
            "owner" : {
              "href" : "https://team42-beyond-api.beyondshop.cloud/api/shop"
            }
          }
        }
  recorded_at: Mon, 19 Aug 2024 07:29:59 GMT
recorded_with: VCR 6.2.0
